{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "ArtGen - New Account" %}{% endblock %}

{% block content %}
<br />
<h1 class="login-title">{% trans "ArtGen - New Account" %}</h1>
<br />
<div class="form-container">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}

    <div class="form-group">
      {{ form.email.errors }}
      <label for="exampleInputEmail1">Email</label>
      {{ form.email }}
      {% comment %} <div class="form-control form-input"> {{ form.email }} </div> {% endcomment %}
    </div>

    <div class="form-group">
      {{ form.username.errors }}
      <label for="Username">Username</label>
      {{ form.username }}
      {% comment %} <div class="form-control form-input"> {{ form.username }} </div> {% endcomment %}
    </div>

    <div class="form-group">
      {{ form.password1.errors }}
      <label for="Password">Password</label>
      {{ form.password1 }}
      <small class = "form-text text-muted">Password must be at least 6 characters</small>
    </div>
    
    
    <br />
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" style="margin-bottom: 100px;margin-left: 50px;width:150px" class="btn btn-primary btn-sm form-submit-button"><i class="fas fa-thumbs-up"></i> {% trans "Sign Up" %}</button>
    <br>
    <a href="{% url 'account_login' %}" style="margin-top: 50px;">Already have an account?</a>
  </form>
</div>

<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

{% endblock %}
